<p>Avec vos ingrédients disponibles</p>

<div class="allSuggestedRecipes">
  <!-- ex de série de suggestions -->
  <div *ngfor="let recipe as recipes" class="card_ex">
    <div class="uppercard">
      <img src="{{recipe.img}}" alt="{{recipe.name}}">
      <button type="button" name="like">
        <img src="" alt="">
      </button>
    </div>
    <div class="recipeInfo">
      <h5>{{recipe.name}}</h5>
      <p>{{recipe.desc}}</p>
    </div>
  </div>
</div>
