<div class="recipeName">
  <h3>Nom de la recette</h3>
  <input type="text" placeholder="Ma nouvelle recette" name="" value="">
</div>

<hr>

<!-- ingredients or link -->
<div class="typeOfRecipe">
  <div class="ingredientsRecipe">
    <button type="button" name="ingredients">Ingrédients</button>
    <button type="button" name="link">Lien</button>
  </div>
  <div class="submitIngredient">
      <input type="text" placeholder="Nouvel ingrédient" name="" value="">
      <button type="button" name="button">Ajouter</button>
  </div>
  <button type="button" name="button" class="addIngredient" (click)="addIngredient()">+</button>

  <hr>

  <div class="protocol">
    <h3>Déroulement</h3>
    <input type="text" name="protocol" value="">
  </div>

  <hr>

  <div class="duration">
    <input type="time" name="time" value=""><p> minutes</p>
  </div>

  <hr>

  <div class="pics">
    <div class="allPics">
      <!-- ex d'image déjà ajoutée -->
      <img src="assets/pouletBicyclette.jpg" alt="">
    </div>
    <button type="button" name="addPic" (click)="addPic()">+</button>
  </div>

  <div class="submit">
    <button (click)="ajouter()">Ajouter</button>
  </div>

</div>
