<div class="recipe">
  <div class="recipeImage">
    <img src="{{recipe.img}}" alt="{{recipe.name}}">
  </div>
  
  <div class="recipeInformations">
    <div class="recipeName">
      <h1>{{recipe.name}}</h1>
    </div>
    <div class="recipeTime">
      <p>{{recipe.time}}<p>
    </div>
    <div class="numberOfConsumers">
      <p>{{recipe.consumers}}</p>
    </div>
    <div class="ingredients">
      <ul>
        <li>{{ingredient}}</li>
      </ul>
    </div>
  </div>
  
  <div class="protocol">
    <p>{{recipe.protocol}}</p>
  </div>
  
</div>