<!-- TOTO: add logo -->
<img src="" alt="">

<!-- Loggers -->
<div class="connect">
  <input type="text" name="id" placeholder="Identifiant" value="">
  <input type="password" name="mdp" placeholder="Mot de passe" value="">
  <div class="altenativeConnect">
    <a href="">Créer un compte</a>
    <a href="">Mot de passe oublié</a>
  </div>
</div>
