// TODO: faire le scss

.connect{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input{
  margin-top: 20px;
  border-radius: 5px;
  width: 75%;
  height: 4em;
}
