.recipeOk{
  width: 100%;
}
.recipeAlmost{
  width: 100%;
}
.card_ex{
  width: 30%;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 2% 5% 5% 5%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  .uppercard{
    display: flex;
    width: 100%;
    height: 100%;
    img{
      width: 80%;
      height: 80%;
      margin: 0;
    }
    button{
      width: 1em;
      height: 2em;
    }
  }
  .recipeInfo{
    width: 100%;
    height: 100%;
    h5{
      margin: 1%;
    }
    p{
      margin: 1%;
    }
  }
}
