<div class="recipeOk">
  <div class="card_ex">
    <div class="uppercard">
      <img src="assets/croquetas.jpeg" alt="">
      <button type="button" name="like">
        <img src="" alt="">
      </button>
    </div>
    <div class="recipeInfo">
      <h5>Croquetas</h5>
      <p>Les croquetas bla bla bla bla bla bla bla</p>
    </div>
  </div>
  <div class="card_ex">
    <div class="uppercard">
      <img src="assets/croquetas.jpeg" alt="">
      <button type="button" name="like">
        <img src="" alt="">
      </button>
    </div>
    <div class="recipeInfo">
      <h5>Croquetas</h5>
      <p>Les croquetas bla bla bla bla bla bla bla</p>
    </div>
  </div>
  <div class="card_ex">
    <div class="uppercard">
      <img src="assets/croquetas.jpeg" alt="">
      <button type="button" name="like">
        <img src="" alt="">
      </button>
    </div>
    <div class="recipeInfo">
      <h5>Croquetas</h5>
      <p>Les croquetas bla bla bla bla bla bla bla</p>
    </div>
  </div>
  <div class="card_ex">
    <div class="uppercard">
      <img src="assets/croquetas.jpeg" alt="">
      <button type="button" name="like">
        <img src="" alt="">
      </button>
    </div>
    <div class="recipeInfo">
      <h5>Croquetas</h5>
      <p>Les croquetas bla bla bla bla bla bla bla</p>
    </div>
  </div>
</div>

<p>Il ne vous manque pas grand chose</p>
<div class="recipeAlmost">
  <div class="card_ex">
    <div class="uppercard">
      <img src="assets/pouletBicyclette.jpg" alt="">
      <button type="button" name="like">
        <img src="" alt="">
      </button>
    </div>
    <div class="recipeInfo">
      <h5>Croquetas</h5>
      <p>Le poulet bicyclette bla bla bla bla bla bla bla</p>
    </div>
  </div>
</div>
