<h1>MyMenu</h1>

<app-users></app-users>
<!-- <app-connect></app-connect> -->
<app-espace-perso></app-espace-perso><hr><hr>
<!-- <app-recherche></app-recherche> -->
<!-- <app-resultats></app-resultats> -->
<app-recipe></app-recipe><hr><hr>
<!-- <app-stock></app-stock> -->
<app-add-recipe></app-add-recipe><hr><hr>
<app-manage></app-manage>


<router-outlet></router-outlet>
