.likedRecipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card_ex{
    position: relative;
}
.uppercard button{
    position: absolute;
    right:20px;
    top: 20px;
    
}