<!-- TOTO: Charger toutes les photos des recettes liké de l'utilisateur -->
<!-- TPDP: appliquer le css card ex utilisé dans resultats.component.html -->
<h1>Mes recettes préférées</h1>
<div class="likedRecipes">
  <!-- ex d'images déjà likée -->
  <div class="card_ex">
    <div class="uppercard">
      <img src="assets/croquetas.jpeg" alt="">
      <button type="button" name="like">
        <img src="" alt="">
      </button>
    </div>
    <div class="recipeInfo">
      <h5>Croquetas</h5>
      <p>Les croquetas bla bla bla bla bla bla bla</p>
    </div>
  </div>
  <div class="card_ex">
    <div class="uppercard">
      <img src="assets/croquetas.jpeg" alt="">
      <button type="button" name="like">
        <img src="" alt="">
      </button>
    </div>
    <div class="recipeInfo">
      <h5>Croquetas</h5>
      <p>Les croquetas bla bla bla bla bla bla bla</p>
    </div>
  </div>
  <div class="card_ex">
    <div class="uppercard">
      <img src="assets/croquetas.jpeg" alt="">
      <button type="button" name="like">
        <img src="" alt="">
      </button>
    </div>
    <div class="recipeInfo">
      <h5>Croquetas</h5>
      <p>Les croquetas bla bla bla bla bla bla bla</p>
    </div>
  </div>
  <div class="card_ex">
    <div class="uppercard">
      <img src="assets/croquetas.jpeg" alt="">
      <button type="button" name="like">
        <img src="" alt="">
      </button>
    </div>
    <div class="recipeInfo">
      <h5>Croquetas</h5>
      <p>Les croquetas bla bla bla bla bla bla bla</p>
    </div>
  </div>
</div>
