div{
  padding: 20px 0;
}

.searchBar{
  display: flex;
  justify-content: center;
  .search{
    width: 75%;
    height: 4em;
    border-radius: 5px;
  }
  .submitSearch{
    width: 10%;
    height: 4em;
    padding: 0;
    margin: 0;
    background: rgb(68, 196, 224);
    border-radius: 0 10% 10% 0;
  }
}

.searchCriteria{
  display: flex;
  justify-content: center;
  flex-direction: column;
  div{
    input{
      width: 15%;
    }
  }
}

.infoInput{
  margin: 0 10% 0 10%;
  display: flex;
  justify-content: space-between;
  select{
    width: 5em;
  }
  .preferences{
    input{
      border-radius: 5px;
    }
  }
}
