<div class="searchBar">
  <input class="search" type="search" name="search" placeholder="Search" value="" (input)="search(searchBox.value)">
  <input class="submitSearch" type="button" name="go" value="Go">
</div>

<div class="searchCriteria">
  <div>
    <input type="checkbox" name="stockCb"><label for="stockCb">Recherche par rapport au stock</label>
  </div>
  <div>
    <input type="checkbox" name="preferencesCb"><label for="preferencesCb">Recherche par rapport à mes préférences</label>
  </div>
</div>

<div class="infoInput">
  <div class="duree">
    <!-- TODO ajouter logo -->
    <img src="" alt="">
    <select class="" name="">
      <option value=""></option>
      <option value=""></option>
    </select>
  </div>
  <div class="preferences">
    <!-- TODO ajouter logo -->
    <img src="" alt="">
    <input type="text" name="preferencesTag" value="" placeholder="Préférences"/>
    <div class="tagContainer"></div>
  </div>
</div>
