.pp{
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width: 25%;
    border-radius: 50%;
  }
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
  input{
    margin-top: 20px;
    border-radius: 5px;
    width: 75%;
    height: 4em;
  }
}

.buttonManage{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  input{
    margin-top: 20px;
    border-radius: 5px;
    width: 75%;
    height: 4em;
  }
}
.recipeManage{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  input{
    margin-top: 20px;
    border-radius: 5px;
    width: 10em;
    height: 8em;
  }
}
