<div class="pp">
  <img src="assets/oss.jpg" alt="">
  <!-- TODO: Créer user et user.img et s'occuper du fonctionnel dans le .ts -->
  <!-- <img [src]="{{user.img}}" alt=""> -->
</div>

<div class="search">
  <input type="search" name="search" placeholder="Search" value="">
</div>

<div class="buttonManage">
  <input type="button" name="suggestion" value="Suggestion">
  <div class="recipeManage">
    <input type="button" name="stock" value="Mon stock">
    <input type="button" name="recettes" value="Mes recettes">
    <input type="button" name="addRecette" value="Ajouter une recette">
  </div>
</div>
