<!-- TODO: ajouter icone -->
<img src="" alt="">

<div class="stockComponents">
  <!-- ex d'un stock a charger -->
  <div class="stockComponent">
      <p>Nom de l'élément</p>
      <div class="buttons">
        <!-- TODO: ajouter les icones flèches -->
        <button type="button" name="button" class="up"></button>
        <p>nb de cet ingrédient dans le stock</p>
        <button type="button" name="button" class="down"></button>
      </div>
      <!-- TODO: ajouter icone poubelle -->
      <button type="button" name="button" class="trash"></button>
  </div>
</div>
